body {
  --background-primary: #111;

  --titlebar-background: transparent !important;

  --titlebar-background-focused: var(--titlebar-background);

  --text-normal: #f1f1f1 !important;

  --workspace-background-translucent: rgba(var(--mono-rgb-0), 0.31);
}
